@import "tailwindcss";

@theme {
  --color-custom-brown: #896043;
  --color-custom-ivory: #fbfff1;
  --color-custom-green: #73937e;
  --color-custom-red: #ef4444;
  --color-custom-black: #000000;
  --color-custom-blue: #60a5fa;
  --color-custom-yellow: #bf9002;

  --background-image-marquee-banner: url(../patterns/marquee_border.svg);
  --background-image-marquee-banner-png: url(https://2tbvn4haj0.ufs.sh/f/jTupBFNKiwOdYQmj72MQnJx6waY0mdLOvijU4ZgC9fyrzhDB);
  --background-image-noise-light: url(https://2tbvn4haj0.ufs.sh/f/jTupBFNKiwOdIOeZYna9fZUb5QXuMdGaP9yYqsJ6mljEhpAI);
}

:root {
  scroll-behavior: smooth;
  @apply text-custom-ivory bg-custom-brown bg-noise-light;
}
